# EDA on Salary dataset 

Dataset Link: [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries)

** Import pandas as pd.**

In [140]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [141]:
data=pd.read_csv(r"C:\Users\prave\Desktop\V.3.0\DS Projects\Datasets\Salaries.csv")

C:\Users\prave\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

** Check the head of the DataFrame. **

In [142]:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [143]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [144]:
data[data["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [145]:
data[data["EmployeeName"] == "JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

** What is the name of highest paid person (including benefits)?**

In [146]:
data[data["TotalPayBenefits"] == data["TotalPayBenefits"].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [147]:
data[data["TotalPayBenefits"] == data["TotalPayBenefits"].min()]["EmployeeName"]

148653    Joe Lopez
Name: EmployeeName, dtype: object

** What was the average (mean) TotalPayBenefits of all employees per year? (2011-2014) ? **

In [148]:
data.groupby("Year").TotalPayBenefits.mean()

Year
2011     71744.103871
2012    100553.229232
2013    101440.519714
2014    100250.918884
Name: TotalPayBenefits, dtype: float64

** How many unique job titles are there? **

In [149]:
len(data["JobTitle"].unique())

2159

** What are the top 5 most common jobs? **

In [150]:
data["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [151]:
sum(data[data["Year"]==2013]["JobTitle"].value_counts()==1)

202

** How many people have the word Chief in their job title?

In [152]:
def chief_counter(someString):
    if "chief" in someString.lower().split():
        return True
    else:
        return False

In [153]:
sum(data["JobTitle"].apply(lambda x: chief_counter(x)))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [155]:
data["Title_len"] = data["JobTitle"].apply(len)

In [157]:
data[["Title_len","JobTitle"]]

        Title_len                                        JobTitle
0              46  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1              31                 CAPTAIN III (POLICE DEPARTMENT)
2              31                 CAPTAIN III (POLICE DEPARTMENT)
3              36            WIRE ROPE CABLE MAINTENANCE MECHANIC
4              44    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...           ...                                             ...
148649          9                                       Custodian
148650         12                                    Not provided
148651         12                                    Not provided
148652         12                                    Not provided
148653         26                      Counselor, Log Cabin Ranch

[148654 rows x 2 columns]

In [163]:
data[["TotalPayBenefits","Title_len"]].corr()

                  TotalPayBenefits  Title_len
TotalPayBenefits          1.000000  -0.036878
Title_len                -0.036878   1.000000